body {
    font-family: Arial, sans-serif;
    color: #333; /* tmavě šedá barva textu */
}

h1 {
    color: #1e90ff; /* světle modrá barva pro nadpisy */
    font-size: 1.7em; /* zvětšení nadpisu */
    text-align: center;
    margin: 15px 0;
}

h2 {
    color: #333; 
    font-size: 1em; 
    margin: 5px 0;
}


h3 {
    color: #1e90ff; /* světle modrá barva pro nadpisy */
    font-size: 1.5em; /* zvětšení nadpisu */
    text-align: left;
    margin: 15px 0;
}


.custom-no-padding {
    margin: 15px 0;
    font-size: 1.0em;
    text-align: justify;
    padding-left: 0em;
}


p {
    margin: 10px 0;
    font-site: 1.em;
    text-align: justify;
    padding-left: 1.5em;
}

a {
    color: #1e90ff; /* světle modrá barva pro odkazy */
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline; /* podtržení při najetí myší */
}

.hr-colored {
    border: none;
    height: 2px;
    background-color: #1e90ff; /* světle modrá barva pro oddělovací čáru */
}

a.blue-button {
    background-color: #1e90ff; /* světle modrá barva pro tlačítko */
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

a.blue-button:hover {
    background-color: #0066cc; /* tmavší modrá při najetí myší */
}
